@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

:root {
    --blue: #1D5D9B;
    --blue-light: #75C2F6;
    --yellow: #F4D160;
    --yellow-light: #FBEEAC;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

img {
    width: 100vw;
    height: 100vh;
}

section {
    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 270px;
    border-radius: 20px;
    background-color: var(--blue);
}

section h1 {
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--yellow);
}

section #form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section #form p:nth-child(1) {
    font-size: 12px;
    font-weight: 300;
    color: var(--yellow);
}

section #form .inputs {
    margin-bottom: 20px;
}

section #form .inputs input {
    width: 200px;
    height: 25px;
    padding: 2px 5px;
    box-sizing: border-box;
    border: none;
    border-radius: 2px;
    margin-right: 5px;
    font-size: 11px;
    font-weight: 300;
    color: var(--blue);
    background-color: var(--yellow);
}

section #btnCalcular {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--blue);
    width: 105px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background-color: var(--yellow);
}

section #btnCalcular:hover {
    cursor: pointer;
    color: var(--yellow);
    border: 2px solid var(--blue-light);
    background-color: transparent;
}

section p:nth-child(4) {
    font-size: 16px;
    font-weight: 500;
    color: var(--yellow);
    margin-top: 25px;
}
